:root {
    /* Color styles */
    --drak: #1F1F1F;
    --blue: #3A6DE7;
    --light-grey: #BEBCBB;
    --dark-blue: #161C3B;
    --red: #CD3D0F;
    --lavish-white: #D9DADC;
}


.my-bg-dark {
    background-color: var(--drak);
}



.my-container {
    width: 100%;
}


.hero {
    background-image: url(../img/jumbo-bg.png);
    margin: 0;
    padding: 0;
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}