:root {
    /* Color styles */
    --drak: #1F1F1F;
    --blue: #3A6DE7;
    --light-grey: #BEBCBB;
    --dark-blue: #161C3B;
    --red: #CD3D0F;
    --lavish-white: #D9DADC;
    --light: #fff;
}


.my-bg-dark {
    background-color: var(--drak);
}


.my-bg-light {
    background-color: var(--light);
}



.my-container-hero {
    width: 100%;
    margin-top: 76px;
}


.my-container {
    width: 100%;
}


.my-nav {
    z-index: 1000;
}

.hero {
    background-image: url(../img/jumbo-bg.png);
    margin: 0;
    padding: 0;
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: auto;
}


.my-card {
    transition: transform 0.6s ease;
    cursor: pointer;
}



.my-card:hover {
    transform: translateY(-20%);
}