:root {
    /* Color styles */
    --drak: #1F1F1F;
    --blue: #3A6DE7;
    --light-grey: #BEBCBB;
    --dark-blue: #161C3B;
    --red: #CD3D0F;
    --lavish-white: #D9DADC;
    --light: #fff;
}


.my-bg-dark {
    background-color: var(--drak);
}


.my-bg-light {
    background-color: var(--light);
}


.my-bg-grey {
    background-color: var(--light-grey);
}


.my-bg-lavish {
    background-color: var(--lavish-white);
}


.my-bg-dark-blue {
    background-color: var(--dark-blue);
}


.my-bg-blue {
    background-color: var(--blue);
}




.my-logo {
    width: 95px;
}


.my-container-hero {
    width: 100%;
}


.my-container {
    width: 100%;
}


.my-nav {
    z-index: 1000;
    position: sticky;
    top: 0;
}



.dropdown-menu {
    height: 280px;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #161C3B;
}


.hero {
    background-image: url(../img/jumbo-bg.png);
    margin: 0;
    padding: 0;
    padding-top: 250px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


.my-btn-border:hover {
    border: 3px solid var(--drak);
    display: inline-block;
    box-sizing: border-box;
}


.jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding: 0;
}


.my-card {
    transition: transform 0.6s ease;
    cursor: pointer;
}



.my-card:hover {
    transform: translateY(-15%);
}


.my-image {
    width: 100%;
    height: auto;
}


.my-icon {
    width: 30px;
    height: 30px;
}


.my-small-icon {
    width: 12px;
    height: 12px;
}


.accessories {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}


.accessories:hover {
    border-bottom: 1px solid var(--blue);
    opacity: 1;
}